{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-bordered table-hover" style="text-align: left">
        <thead class="thead-dark">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>

        </thead>
        <tbody>
            {% for stock in rows %}
            <tr>
                <td>
                    {{ stock["symbol"] }}
                </td>
                <td class="numbers">
                    {{ stock["shares"] }}
                </td>
                <td class="numbers">
                    {{ stock["price"] }}
                </td>
                <td class="numbers">
                    {{ stock["when"] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
